* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f39c12; /* Brand Orange */
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(242, 242, 242);
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    color: #f39c12;
}



.portfolio-section { padding: 80px 5%; text-align: center; }

h1 { margin-bottom: 50px; font-size: 36px; color: #1a1a1a; }

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.project-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.project-card1 {
    background: rgb(218, 103, 103);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.project-card1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-info { padding: 25px; text-align: left; }

/* JavaScript Related Styles */
.back-btn {
    background-color: #f39c12;
    color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 5px;
}

.cover { cursor: pointer; }
.cover:hover { transform: translateY(-10px); border: 2px solid #f39c12; }